@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,700&family=Montserrat:wght@300;400;700;900&display=swap');

@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #050d1a;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.font-serif {
  font-family: 'Playfair Display', serif;
}

/* Range slider fix */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #00c2cb;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid #050d1a;
}